<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">
    <util:list id="outerBallList">
        <bean class="com.dzq.bean.Ball" id="ball1" p:name="排球" p:color="白色"></bean>
        <bean class="com.dzq.bean.Ball" id="ball2" p:name="足球" p:color="黑白"></bean>
        <bean class="com.dzq.bean.Ball" id="ball3" p:name="篮球" p:color="砖红"></bean>
    </util:list>
    <bean id="student2" class="com.dzq.bean.Student">
        <property name="books">
            <array>
                <value>三国(一)</value>
                <value>三国(二)</value>
                <value>三国(三)</value>
                <value>三国(四)</value>
            </array>
        </property>
        <property name="bookList">
            <list>
                <value>三国(一)</value>
                <value>三国(二)</value>
                <value>三国(三)</value>
                <value>三国(四)</value>
            </list>
        </property>
        <property name="bookSet">
            <set>
                <value>三国(一)</value>
                <value>三国(二)</value>
                <value>三国(三)</value>
                <value>三国(四)</value>
            </set>
        </property>
        <property name="bookMap">
            <map>
                <entry key="三国(一)" value="罗贯中"></entry>
                <entry key="三国(二)" value="罗贯中"></entry>
                <entry key="三国(三)" value="罗贯中"></entry>
                <entry key="三国(四)" value="罗贯中"></entry>
            </map>
        </property>
        <property name="ballList" ref="outerBallList"></property>
    </bean>


</beans>